# Compiled class file
*.class
*.classpath
*.project

# Idea file
/.idea/*
*.iml

#Folders
/.metadata/*
/.recommenders/*
/RemoteSystemsTempFiles/*
#
/bin/*
/target/*
/.settings/*

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.tar.gz
*.rar
# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/
**/target/**
/Old/target/classes/
/bin/

HELP.md
.gradle
application.properties
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

tokens/
**/generated/
